$color-blanco: rgb(201, 210, 225);
$color-1: rgb(0, 25, 53);
$color-2: rgb(15, 17, 27);
$tipografia-1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

#contacts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgb(122, 119, 136);
  background: radial-gradient(
    circle,
    rgba(122, 119, 136, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

#contactBook-title {
  text-align: center;
  color: $color-blanco;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#contacts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#new-contact {
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-blanco;
  background-color: $color-1;
  margin: 20px 0px;
  font-family: $tipografia-1;
  font-size: 20px;
  cursor: pointer;
  border: none;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#new-contact:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#no-contacts-container {
  height: 90vh;
}

#no-contacts {
  margin-top: 130px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgb(122, 119, 136);
  background: radial-gradient(
    circle,
    rgba(122, 119, 136, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

.share-container {
  margin: 20px auto;
  text-align: center;
  background: rgba(240, 234, 234, 0.164);
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: 300px;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  input {
    margin: 10px 10px;
    border: none;
    border-radius: 6px;
    padding: 8px;
  }
  input::placeholder {
    text-align: center;
  }

  label {
    font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  h2 {
    font-size: 2em;
  }

  button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: fit-content;
    align-self: center;
  }

  button:enabled {
    background-color: $color-1;
    color: $color-blanco;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  button:enabled:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: $color-2;
  }

  button:disabled {
    cursor: auto;
  }

  p {
    font-size: small;
    color: rgb(212, 61, 61);
    margin: 0;
  }
}

#share-contactBook {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  width: fit-content;
  align-self: center;
  background-color: rgb(122, 119, 136);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#share-contactBook:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  background-color: rgb(118, 116, 126);
}

#share-contactBook2 {
  padding: 10px;
  border-radius: 10px;
  margin: 60px 0px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  width: fit-content;
  align-self: center;
  background-color: $color-1;
  color: $color-blanco;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#share-contactBook2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  background-color: $color-2;
}
