<!-- <h2 id="title" mat-dialog-title>PopUp</h2> -->
<div id="content" mat-dialog-content>{{ data.message }}</div>
<div id="actions" mat-dialog-actions>
  <button
    *ngIf="
      data.type === 'closeSession' ||
      data.type === 'deleteContact' ||
      data.type === 'deleteContactBook'
    "
    id="button"
    (click)="action('delete')"
    mat-dialog-close
  >
    Sí
  </button>
  <button
    *ngIf="
      data.type !== 'closeSession' &&
      data.type !== 'deleteContact' &&
      data.type !== 'deleteContactBook'
    "
    id="ok-button"
    (click)="action('ok')"
    mat-dialog-close
  >
    Ok
  </button>
  <button
    *ngIf="
      data.type === 'closeSession' ||
      data.type === 'deleteContact' ||
      data.type === 'deleteContactBook'
    "
    id="button"
    mat-dialog-close
  >
    No
  </button>
</div>
