<section id="container">
  <div class="form-container">
    <div class="contact-container" *ngIf="user">
      <h2>Detalles de usuario</h2>

      <form id="user-form" (submit)="onSubmit()" #userForm="ngForm">
        <label for="userName">Nombre de usuario:</label>
        <input
          type="text"
          id="userName"
          name="userName"
          [(ngModel)]="user.name"
          required
          [readonly]="!editing"
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          required
          [readonly]="!editing"
        />

        <label for="phoneNumber">Numero de teléfono:</label>
        <input
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="user.phoneNumber"
          required
          [readonly]="!editing"
        />

        <label for="password">Contraseña:</label>

        <input
          type="{{ passwordFieldType }}"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          required
          [readonly]="!editing"
        />
        <img
          class="eye-slash"
          id="togglePassword"
          (click)="togglePasswordVisibility()"
          [src]="source"
        />

        <!-- Botón para habilitar la edición -->
        <button
          id="edit-button"
          type="button"
          (click)="enableEditing()"
          [disabled]="editing"
        >
          Editar
        </button>

        <!-- Botón de actualización (visible solo durante la edición) -->
        <button type="submit" [disabled]="!editing">Guardar Cambios</button>

        <!-- Botón para eliminar cuenta -->
        <button type="button" (click)="deleteAccount()">Eliminar Cuenta</button>
      </form>
    </div>
  </div>
</section>
