$color-2: rgb(15, 17, 27);
$tipografia-1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$color-blanco: rgb(201, 210, 225);
$color-1: rgb(0, 25, 53);

#container {
  height: 100vh;
  color: $color-2;
  background: rgb(122, 119, 136);
  background: radial-gradient(
    circle,
    rgba(122, 119, 136, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

.register-container {
  margin: 60px auto;
  text-align: center;
  background: rgba(240, 234, 234, 0.164);
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: 300px;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  input {
    margin: 10px 0px;
    border: none;
    border-radius: 6px;
    padding: 8px;
  }

  label {
    font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  h2 {
    font-size: 2em;
  }

  button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: fit-content;
  }

  button:enabled {
    background-color: $color-1;
    color: $color-blanco;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  button:enabled:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: $color-2;
  }

  button:disabled {
    cursor: auto;
  }

  p {
    font-size: small;
    color: rgb(212, 61, 61);
    margin: 0;
  }
}

.form-container {
  display: flex;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

#secondary-button {
  background-color: inherit;
  color: rgb(0, 0, 0);
  border: none;
  font-size: smaller;
  padding: 0px;
  margin: 0;
  height: 15px;
  box-shadow: none;
}

#secondary-button:hover {
  text-decoration-line: underline;
}
