<section id="container">
  <button id="back-button" (click)="goToPreviousPage()">Volver</button>
  <div class="form-container">
    <div class="contact-container">
      <h2>Contact Details</h2>
      <form
        class="contact-details-form"
        #contactForm="ngForm"
        (ngSubmit)="clickSubmit()"
      >
        <label for="name">Nombre:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="contact.name"
          name="name"
          (change)="onFormChange()"
        />

        <label for="lastName">Apellido:</label>
        <input
          type="text"
          id="lastName"
          [(ngModel)]="contact.lastName"
          name="lastName"
          (change)="onFormChange()"
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="contact.email"
          name="email"
          (change)="onFormChange()"
        />

        <label for="email">Teléfono:</label>
        <input
          type="tel"
          id="phoneNumber"
          [(ngModel)]="contact.phoneNumber"
          name="phoneNumber"
          (change)="onFormChange()"
        />

        <button type="submit" [disabled]="!formChanged">Guardar</button>
      </form>
    </div>
  </div>
</section>
