<section id="container">
  <button id="back-button" (click)="goToPreviousPage()">Volver</button>
  <div class="form-container">
    <div class="contact-container">
      <h2>Contact Details</h2>
      <form
        class="contact-details-form"
        #contactForm="ngForm"
        (ngSubmit)="clickSubmit(contactForm)"
      >
        <label for="name">Nombre:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="changedContact.name"
          name="name"
        />

        <label for="lastName">Apellido:</label>
        <input
          type="text"
          id="lastName"
          [(ngModel)]="changedContact.lastName"
          name="lastName"
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="changedContact.email"
          name="email"
        />

        <button type="submit">Guardar</button>
      </form>
    </div>
  </div>
</section>
