<section id="container">
  <button id="back-button" (click)="goToPreviousPage()">Volver</button>
  <div class="form-container">
    <div class="contact-container">
      <h2>Contact Details</h2>
      <form
        class="contact-details-form"
        #contactForm="ngForm"
        (ngSubmit)="clickSubmit(contactForm)"
      >
        <label for="id">Id</label>
        <input type="text" id="id" [(ngModel)]="changedContact.id" name="id" />

        <label for="title">Name:</label>
        <input
          type="text"
          id="title"
          [(ngModel)]="changedContact.name"
          name="title"
        />

        <label for="body">LastName:</label>
        <input
          type="text"
          id="body"
          [(ngModel)]="changedContact.email"
          name="body"
        />

        <button type="submit">Guardar</button>
      </form>
    </div>
  </div>
</section>
