<section id="sharedContactBooks">
  <h1>Tus Agendas Compartidas</h1>
  <div id="sharedContactBooks-section">
    <div id="noSharedContactBooks" *ngIf="noSharedContactBooks">{{ noSharedContactBooks }}</div>
    <span *ngIf="isLoading" class="loader"></span>
    <div id="sharedContactBook-card" 
    *ngFor="let sharedContactBook of sharedContactBooks"
    [routerLink]="'/sharedContactBooks/' + sharedContactBook.id + '/sharedContacts'">
      <div class="book">
        <div class="cover">
          📖
        </div>
        <div class="details">
          <p><strong>Nombre:</strong> {{ sharedContactBook.contactBookName }}</p>
          <p><strong>Descripción:</strong> {{ sharedContactBook.description }}</p>
          <p><strong>Dueño de la Agenda:</strong> {{ sharedContactBook.ownerUserName }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
