$color-blanco: rgb(201, 210, 225);
$color-1: rgb(0, 25, 53);
$color-2: rgb(15, 17, 27);
$tipografia-1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

#contactBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: $color-2;
  background: rgb(122, 119, 136);
  background: radial-gradient(
    circle,
    rgba(122, 119, 136, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
  font-family: $tipografia-1;
}

#new-contact-book {
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-blanco;
  background-color: $color-1;
  margin: 40px 0px 20px;
  font-family: $tipografia-1;
  font-size: 20px;
  cursor: pointer;
  border: none;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#new-contact-book:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#contactBook-card {
  display: flex;
  background-color: #e2e2e2;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  padding: 15px;
  width: 300px;
  color: #333;
  cursor: pointer;

  a {
    flex-grow: 1;
  }
}
#contactBook-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#noContactBooks {
  font-size: xx-large;
  font-weight: 700;
  margin-top: 100px;
}

.loader {
  margin-top: 80px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(122, 119, 136);
  background: radial-gradient(
    circle,
    rgba(122, 119, 136, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

#back-button {
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
  background-color: $color-1;
  color: $color-blanco;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#back-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  background-color: $color-2;
}

.register-container {
  margin: 30px auto;
  text-align: center;
  background: rgba(240, 234, 234, 0.164);
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: 300px;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  input {
    margin: 10px 10px;
    border: none;
    border-radius: 6px;
    padding: 8px;
  }
  input::placeholder {
    text-align: center;
  }

  label {
    font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  h2 {
    font-size: 2em;
  }

  button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: fit-content;
    align-self: center;
  }

  button:enabled {
    background-color: $color-1;
    color: $color-blanco;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  button:enabled:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: $color-2;
  }

  button:disabled {
    cursor: auto;
  }

  p {
    font-size: small;
    color: rgb(212, 61, 61);
    margin: 0;
  }
}

.form-container {
  display: flex;
}

.newContact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
