<section id="login-container">
  <div class="container">
    <div class="form-container">
      <h2>Login</h2>

      <form
        class="login-form"
        #loginForm="ngForm"
        (ngSubmit)="login(loginForm)"
      >
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          autocomplete="email"
          placeholder="Ingresa tu correo"
          [(ngModel)]="authData.email"
          [required]="true"
          #email="ngModel"
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        />
        <p *ngIf="email.touched && email.errors">
          Correo electronico no válido
        </p>

        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="current-password"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="authData.password"
          [required]="true"
          [minlength]="6"
          #password="ngModel"
        />
        <p *ngIf="password.touched && password.errors">Contraseña inválida</p>

        <button type="submit" [disabled]="loginForm.invalid">
          Iniciar sesión
        </button>
        <button
          id="secondary-button"
          type="button"
          [routerLink]="['/auth/register']"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
</section>
